<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel='icon' href= '/img/weather.png'>
        <link rel = 'stylesheet' href = '/css/style.css'>
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            This is created by muthu manickam. This website uses data from mapbox.com and darksky.net.
            <img class= 'about' src = '/img/muthu.jpg'>
        </div>
        {{>footer}}
    </body>
</html>